@use './resetStyles.scss';
@use '../assets/fonts/fonts.scss';
@use './theme.scss';

body {
  font-family: 'Inter';
}

html::-webkit-scrollbar {
   display: none
}

.app {
  background-color: var(--background-color);
  min-height: 100vh;
}
*{
  transition: all 0.3s;
}
.Toastify__toast-container {
  z-index: 9999 !important;
}