@font-face {
    font-family: 'Inter';
    src: url('./Inter18pt-Medium.woff2') format('woff2'),
         url('./Inter18pt-Medium.woff') format('woff'),
         url('./Inter18pt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}