:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --search-color: #6C63FF;
  --placeholder: #C3C1E5;
  --icon-not-active: #CDCDCD;
  --white: #F7F7F7;
  --purple: #6C63FF;
  --purple-hover: #5850DD;
  --button-hover: #534CC2;
  --trash-hover: #E50000;
}

[data-theme='dark'] {
  --background-color: #252525;
  --text-color: #F7F7F7;
  --search-color: #F7F7F7;
  --placeholder: #666666;
}

